.App{
  width: 57%;
  margin: 10px;
  border-style: solid;
  align-items: center;
}

.square {
  height: 100px;
  width: 150px;
  background-color: red;
  border-style: 50px solid;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 150px solid orange;
  border-bottom: 50px solid transparent;
}

.roundsquare {
  height: 100px;
  width: 150px;
  background-color: rgb(192, 76, 165);
  border-style: 50px solid;
  border-radius: 10px;
}

.round {
  height: 100px;
  width: 150px;
  border: 4px solid lightskyblue;
  background-color: transparent;
  border-radius: 50%;
}

.vroundsquare{
  height: 220px;
  width: 150px;
  background-color: darkcyan;
  border-style: 50px solid;
  border-radius: 10px;
}

.longsquare{
  height: 50px;
  width: 520px;
  background-color: lightgreen;
  border-style: 50px solid;
}

.grid-container{
  display: grid;
  /* grid-template-columns: auto; */
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  background-color: transparent;
  padding: 10px;
  gap: 10px;
  grid-template-areas: 'main1 main2 menu' 'main3 main4 menu' 'footer footer footer';
}

.grid-items{
  margin: 10px;
}

.item1{
  grid-area: main1;
}

.item2{
  grid-area: main2;
}

.item3{
  grid-area: menu;
}

.item4{
  grid-area: main3;
}

.item5{
  grid-area: main4;
}

.item6{
  grid-area: footer;
}
